.root {
    -fx-card-background: white;
    -fx-dark-text: #2A384B;
}

.label, .text {
    -fx-font-family: "Manrope";
}

.tab {
    -fx-font-weight: bold;
}

.login-view {
    -fx-max-width: 250;
    -fx-padding: 16 24 24 24;
    -fx-spacing: 24;
}

.login-view .fields-box {
    -fx-spacing: 6;
}

.login-view .label {
    -fx-text-fill: -fx-dark-text;
    -fx-font-weight: bold;
    -fx-padding: 8 0 0 0;
}

.shop-bar {
    -fx-padding: 5;
}

.models-pane {
    -fx-hgap: 24;
    -fx-vgap: 24;
    -fx-padding: 24 0 24 24;
}

.model-card {
    -fx-background-color: -fx-card-background;
    -fx-padding: 24;
    -fx-background-radius: 16;
}

.model-card .label {
    -fx-text-fill: -fx-dark-text;
    -fx-font-weight: bold;
}

.model-card .placeholder {
    -fx-fill: -fx-card-background;
}

.model-card .price-box {
    -fx-spacing: 10;
    -fx-padding: 6 0 0 0;
}

.model-card .maker {
    -fx-opacity: .6;
    -fx-padding: 10 0 0 0;
}

.model-card .customization-box {
    -fx-padding: 8 0 8 0;
}

.model-card .customization-box .label {
    -fx-font-size: 10;
    -fx-font-weight: normal;
}

.model-card .initial-price, .model-overview .initial-price {
    -fx-opacity: .25;
}

.model-overview {
    -fx-background-color: -fx-card-background;
    -fx-spacing: 64;
    -fx-padding: 32;
}

.model-overview > * {
    -fx-spacing: 2;
}

.model-overview .label {
    -fx-text-fill: -fx-dark-text;
}

.model-overview .section-title {
    -fx-font-weight: bold;
    -fx-padding: 16 0 0 0;
}

.model-overview .customizations-box {
    -fx-spacing: 16;
    -fx-padding: 6 0 0 0;
}

.model-overview .check-box {
    -fx-padding: 40 0 16 0;
}

.model-overview .button {
    -fx-padding: 8 16 8 16;
}

.model-overview .price-box {
    -fx-spacing: 12;
}

.model-card .discount, .model-overview .discount {
    -fx-text-fill: orange;
}