.root {
    -fx-card-background: white;
    -fx-dark-text: #2A384B;
}

.label, .text {
    -fx-font-family: "Manrope";
    -fx-font-smoothing-type: gray;
}

.error-field {
    -fx-background-color: rgba(255, 0, 0, .1);
}

.tab {
    -fx-font-weight: bold;
}

.login-view, .checkout-view, .profile-view, .new-solve-view {
    -fx-padding: 16 24 24 24;
    -fx-spacing: 24;
}

.login-view .fields-box, .checkout-view .fields-box {
    -fx-max-width: 250;
    -fx-spacing: 6;
}

.login-view .label, .checkout-view .fields-box > .label {
    -fx-text-fill: -fx-dark-text;
    -fx-font-weight: bold;
    -fx-padding: 8 0 0 0;
}

.checkout-view {
    -fx-spacing: 120;
}

.checkout-view .coupon-box .applied-coupon-label {
    -fx-padding: 4 0 0 0;
    -fx-font-weight: normal;
    -fx-text-fill: orange;
}

.checkout-view .prices-box {
    -fx-padding: 16 0 16 0;
}

.checkout-view .prices-box .title {
    -fx-pref-width: 100;
    -fx-font-weight: bold;
}

.checkout-view .prices-box .separator {
    -fx-padding: 8 0 4 0;
}

.shop-bar {
    -fx-padding: 5;
}

.models-pane {
    -fx-hgap: 24;
    -fx-vgap: 24;
    -fx-padding: 24 0 24 24;
}

.model-card {
    -fx-background-color: -fx-card-background;
    -fx-padding: 24;
    -fx-background-radius: 16;
}

.model-card .label {
    -fx-text-fill: -fx-dark-text;
    -fx-font-weight: bold;
}

.model-card .placeholder {
    -fx-fill: -fx-card-background;
}

.model-card .price-box {
    -fx-spacing: 10;
    -fx-padding: 6 0 0 0;
}

.model-card .maker {
    -fx-opacity: .6;
    -fx-padding: 10 0 0 0;
}

.model-card .spacer {
    -fx-min-height: 8;
}

.model-card .customization-box {
    -fx-padding: 0 0 8 0;
}

.model-card .customization-box .label {
    -fx-font-size: 10;
    -fx-font-weight: normal;
}

.model-card .initial-price, .model-overview .initial-price {
    -fx-opacity: .25;
}

.model-overview {
    -fx-background-color: -fx-card-background;
    -fx-spacing: 64;
    -fx-padding: 32;
}

.model-overview > * {
    -fx-spacing: 2;
}

.model-overview .label, .profile-view .label  {
    -fx-text-fill: -fx-dark-text;
}

.model-overview .title {
    -fx-font-weight: bold;
    -fx-padding: 16 0 0 0;
}

.model-overview .customizations-box {
    -fx-spacing: 16;
    -fx-padding: 6 0 0 0;
}

.model-overview .check-box {
    -fx-padding: 40 0 16 0;
}

.model-overview .button {
    -fx-padding: 8 16 8 16;
}

.model-overview .price-box {
    -fx-spacing: 12;
}

.model-card .discount, .model-overview .discount {
    -fx-text-fill: orange;
}

.solves-view .shop-bar {
    -fx-spacing: 4;
}

.solves-view .table-container {
    -fx-padding: 16;
}

.new-solve-view .time-box {
    -fx-alignment: center-left;
    -fx-spacing: 6;
}

.new-solve-view .time-box .text-field {
    -fx-pref-width: 50;
    -fx-alignment: center;
}

.new-solve-view .time-box > .label {
    -fx-font-size: 20;
}

.new-solve-view .shop-bar {
    -fx-padding: 4 0 12 0;
}

.new-solve-view .models-pane {
    -fx-padding: 0;
}

.new-solve-view .selected-model-card {
    -fx-effect: dropshadow(gaussian, rgba(0, 128, 0, .5), 8, 0, 0, 0);
}

.table-view .scroll-bar:horizontal .increment-button,
.table-view .scroll-bar:horizontal .decrement-button,
.table-view .scroll-bar:horizontal .increment-arrow,
.table-view .scroll-bar:horizontal .decrement-arrow {
    -fx-padding: 0;
}

.table-row-cell {
    -fx-cell-size: 50;
}

.table-column {
    -fx-alignment: center;
}

.profile-view .name-box {
    -fx-spacing: 12;
}

.profile-view .title, .new-solve-view .title {
    -fx-font-weight: bold;
    -fx-padding: 0 0 4 0;
}

.profile-view .friend-node {
    -fx-padding: 2 6 0 0;
    -fx-cursor: hand;
}

.profile-view .friend-node:hover {
    -fx-text-fill: purple;
}